.App {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--very-darker-blue), 20%,var(--very-dark-purple));
    font-family: 'Red Hat Text', sans-serif;
}

.icon{
    padding: 1%;
}

.stars h1{
    color: var(--white);
    font-family: inherit;
}
